
  <div class="full-width row featuredcollection" >
    <h1 class="page-title" style="margin-bottom: 0px; display:none;"><?php echo $pages_name; ?></h1>
    <?php foreach($pagess as $pages) { ?>
    <a href="<?php echo $pages['href']; ?>">
      <div class="lngcollection">
        <img src="<?php echo $pages['image']; ?>" />
        <div class="title"><?php echo $pages['name']; ?></div>
        <div class="ctabutton hidemob">VISIT US</div>
      </div><!--lng_img-->
    </a>
    <?php } ?>

  </div>
