.flex-prev{
  left:0px!important;
  background-color:rgba(255,255,255,.6)!important;
  text-indent: -999999px;
}

.flex-next{
  right:0px!important;
  background-color:rgba(255,255,255,.6)!important;
  text-indent: -999999px;
}

.i .overlay{
  position: absolute;
  overflow: hidden;
  background: rgba(255,255,255,.8);
  width: 100%;
  height: 100%;
  transition: opacity .25s ease-in-out;
 -moz-transition: opacity .25s ease-in-out;
 -webkit-transition: opacity .25s ease-in-out;
  opacity:0;
}

.i .caption{
  padding:30px;
  line-height: 1.6; font-size: 14px; letter-spacing: 1px;
}

.i:hover .overlay{
  opacity:.98;
}

.i{
  position:relative;
  width: 25%;
  float: left;
  transition: opacity .25s ease-in-out;
 -moz-transition: opacity .25s ease-in-out;
 -webkit-transition: opacity .25s ease-in-out;
}

#instafeed{
  display:none;
}

#instafeed img{
  width:120px;
}

.social-feeds li{
  list-style-type:none;
}

.social-feeds > li{
  width:33%;
  float:left;
}

.social-feeds > li{
  width:33%;
  float:left;
}



.i img{
  width:100%;
}


@media screen and (max-width: 600px) {

.i .caption{
  padding: 10px;
  line-height: 1.2; font-size: 8px; letter-spacing: 1px;
}
}