.slider-container {
  width: 100%!important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.slider-container .back-bar {
  height: 10px;
  position: relative;
}
.slider-container .back-bar .selected-bar {
  position: absolute;
  height: 100%;
}
.slider-container .back-bar .pointer {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  cursor: w-resize;
  opacity: 1;
  z-index: 2;
}
.slider-container .back-bar .pointer.last-active {
  z-index: 3;
}
.slider-container .back-bar .pointer-label {
    background: none repeat scroll 0 0 #ffffff;
    font-size: 12px;
    line-height: 1;
    margin-left: 2px;
    position: absolute;
    top: -25px;
    white-space: nowrap;
}
.slider-container .back-bar .focused {
  z-index: 10;
}
.slider-container .clickable-dummy {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.slider-container .scale {
  top: -10px;
  position: relative;
}
.slider-container .scale span {
  position: absolute;
  height: 5px;
  border-left: 1px solid #999;
  font-size: 0;
}
.slider-container .scale ins {
  font-size: 9px;
  text-decoration: none;
  position: absolute;
  left: 0;
  top: 5px;
  color: #999;
  line-height: 1;
  display: none;
}
.slider-container.slider-readonly .clickable-dummy,
.slider-container.slider-readonly .pointer {
  cursor: auto;
}

.theme-green .back-bar {
    background-color: #ffffff;
    border: 1px solid #c8b18b;
    border-radius: 0;
    height: 10px;
}

.theme-green .back-bar .selected-bar {
    background-color: #c8b18b;
}
.theme-green .back-bar .pointer {
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    box-shadow: 0 1px 1px #5f6062;
    box-sizing: border-box;
    height: 25px;
    margin-left: -2px;
    top: -10px;
    width: 25px;
}
.theme-green .back-bar .pointer-label {
  color: #5f6062;
}
.theme-green .back-bar .focused {
  color: #333;
}
.theme-green .scale span {
  border-left: 1px solid #c8b18b;
}
.theme-green .scale ins {
  color: #999;
}

.slider-container {
    margin-top: 25px;
}

.beltSize {
    border: 1px solid #ddd;
    padding: 18px;
    margin-bottom:10px ;
}

.sugestbeltsize {
    border: 1px solid #c8b18b;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}
.scale > span:last-child {
    display: none;
}
.beltSizeLabel {
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    width: 100%;
}
.beltSizeLabel > a {
    float: right;
    text-decoration: underline;
}
.beltSizeLabel > span {
    float: left;
}
.cal_val {
    color: #5f6062;
}
@media( max-width:480px ){
    .beltSizeLabel > a {
        clear: left;
        float: left;
    }
}

